# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
.env/

# PyInstaller artifacts
*.spec

# Test / Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.pytest_cache/

# MyPy / Type-checker
.mypy_cache/
.dmypy.json
.cache/

# Editors / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac OS metadata files
.DS_Store

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Twine / Build artifacts
*.tar.gz
*.whl
